
/* 
    https://devfacts.com/media-queries-breakpoints-2020/
*/

 /* Large devices (desktops, less than 1200px) */
 @media (max-width: 1600px) { 
    html, body{
        margin: 0;
        padding: 0;
        font-family: Arial;
        min-width: 320px;
    }
    
    body{
        padding: 10px ;
    }
    .header {
        width: 100%;
        background-color: rgb(42, 34, 158);
    }
    
    .logo_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .logo{
        height: 25px;
        width: 25px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-image: url(img/logo.png);
    }
    
    .page_name{
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    ul li{
        display: inline;
    }
    
    ul li a{
        text-decoration: none;
    }
    
    ul li a:visited {
        color:black;
    }
    
    .blog_post {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 600px;
        height: 200px;
        margin: 0 auto;
        border: 0px  black;
        border-radius: 20px;
        background-color: #FFFFCC;
        box-shadow: 0 0 3px;
        
        
    }

    .blog_elem_background{
        background-size: contain;
    }

    .button_width {
        width: 1em;
        height: 1em;
    }

    .edit_button {
        background-image: url(img/edit.png);
    }

    .delete_button {
        background-image: url(img/thrash.webp);
    }

    .button_container{
        display: flex;
        flex-direction: column-reverse;
    }
 }

footer {
    display: flex;
    justify-content: space-around;
    padding:8px;
} 

.footer_container {
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: space-around;
}


footer nav {
    display: flex;
    justify-content: space-between;
}

footer nav a {
    display: flex;
    padding:5px;
    text-decoration: none;
}

footer nav a:visited {
    color:rgb(0, 0, 0);
}



.vk_style {
    width: 4em;
    height: 4em;
}



.vkontakte {
    background-image: url(img/vkvk.png);
}

.call_style{
    width: 4em;
    height: 4em;
}
.phone{
    background-image: url(img/call.png);
}

.inst_style {
    width: 4em;
    height: 4em;
}   

.instagramm {
    
   
    background-image: url(img/insta.png);
}

.info_container{
    display: none;
    width: 100%;
    justify-content: space-between;
    background-color: coral;
    /* visibility: hidden; */
}

.author_page {
    
    display: none;  
    justify-content: space-between;
    width: 100%;  
    background-color: coral;
    /* visibility: hidden; */
}

.author_page_background {
    background-size: contain;
}
#portrait {
    
    background-image: url(img/portrait.png);
    
}

.portrait_style{
    width: 20em;
    height: 20em;
}
.contact_elem_background{
    background-size: contain;
    
}


#contacts {
 
}

#close_info {
    background-image: url(img/exit.png);
    background-size: contain;
    width: 1em;
    height: 1em;
}

#close_author_page {
    background-image: url(img/exit.png);
    background-size: contain;
    width: 1em;
    height: 1em;
}




 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .blog-post {
        width: 400px;
    }
}

/* Very small devices */
@media (max-width: 575.98px) { 
    .blog-post {
        width: 320px;
    }
}