html, body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    min-width: 320px;
}

body{
    padding: 10px ;
}
.header {
    height: 30px;
    width: 100%;
    background-color: rgb(42, 34, 158);
    
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    height: 25px;
    width: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: url(img/logo.png);
    background-size: contain;
}

.page-name{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}